if errors
    each er in errors
        div(class="alert alert-danger alert-dismissible fade show col-md-5 center-block remove-float mx-auto" role="alert")
          text=er.text
          button(class="close" type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;