if success_msg.length > 0
    div(class="alert alert-success alert-dismissible fade show col-md-5 center-block remove-float mx-auto" role="alert")
        text=success_msg
        button(class="close" type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
