doctype html
html(lang="es")
    head
        title Notes App
        meta(charset="utf-8")
        //- Bootstrap
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        //-FontAwesome
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", attr)
        //-<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        //-local css
        link(rel="stylesheet", href="../public/css/main.css")
    body
        div(class="text-dark p-2 d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm")
            
            a(href="/" class="my-0 mr-md-auto font-weight-normal") WebNotes
            nav(class="my-2 my-md-0 mr-md-3")
                a(href="/notes" class="p-2 text-dark") All Notes
                a(href="/users/images" class="p-2 text-dark") My Gallery
                a(href="/notes/add" class="p-2 text-dark") New Note
                
                
                a(href="/users/login" class="btn btn-outline-primary") Login   
        include ../partials/messages
        include ../partials/error
        include ../partials/error-2
        //--agregando mensajes de flash desde el servidor
        block contenido
        footer
            .container
                p
                | &copy; 2019 |
                i.fa.fa-value(aria-hidden='true') &nbsp;
                a(href='#') View Source
                p
                    .float-right
                        a(href="#", rel="noopener noreferrer") Back to top
                //- <footer class="container">
                        <p class="float-right"><a href="#">Back to top</a></p>
                        <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
                    </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>